@{
    ViewData["Title"] = "About";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>

<p>
    Desenvolvedor @ViewData["Developer"]</br>
    @ViewData["Email"]

</p>


<adress>
        
    <strong> Maiores Informações: </strong> <a href="http://www.wpcursos.com.br"> Wpcursos.com.br </a>

</adress>


